.table-wrapper {
    width: max-content;
    margin: 0.1rem auto;
    font-family: 'Roboto',sans-serif;
}

/* Buscador */
.table-search {
    margin-bottom: 0.6rem;
    text-align: right;
}

.table-search input {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 350px;
    transition: border 0.3s ease;
}

.table-search input:focus {
    outline: none;
    border-color: var(--azul-atenuado);
}

/* Tabla */
.table-container {
    overflow-x: auto;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
}

.custom-table thead {
    background: var(--white);
    color: var(--azul-texto);
}

.custom-table th, 
.custom-table td {
    padding: 15px 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: auto;
    flex-wrap: wrap;
}

.custom-table th.active-sort {
    background-color: var(--azul-two);
}

.custom-table tr:hover {
    background-color: #d3eefc;
    transition: background 0.3s ease;
}

.no-data {
    text-align: center;
    padding: 20px;
    font-style: italic;
    color: #666;
}

/* Paginación */
.pagination {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.pagination button {
    background: #0077b6;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
}

/* .pagination button:disabled {
    background: #ccc;
    cursor: not-allowed;
} */

.pagination button:hover:not(:disabled) {
    background: #0096c7;
}

/* Indicador de orden */
.sort-indicator {
    font-size: 0.8rem;
    margin-left: 4px;
}
